<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<head>
  	<script src="//code.jquery.com/jquery.min.js"></script>
  	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<title>My Diet Diary</title>
</head>

<body>
<div layout:fragment="content">
<div id="diary_wrap" class="wrap">
  <div id="exercise_bar" class="bar">
    <button class="menu_btn" id="menu_btn" th:onclick="|location.href='@{/exercise/diary(date=${date})}'|">
      <img src="/img/back.png" class="back_img">
    </button>
    <div class="date">[[${date}]] <th:block th:text="${#strings.substring(time, 0, 5)}" /></div> <input type="image" class="edit_plus_btn" src="/img/plus.png" onclick="add_textbox()">
  </div>
  <div class="diary">
    <form action="/exercise/edit" method="POST" id="new_form" class="form">
      <div id="box">
      	<th:block th:each="exer : ${exer}">
        <p><input type="text" name="exercise" id="text" th:value="${exer.exercise}" required> <input type="text" name="num" id="num" pattern="^[0-9]*" th:value="${exer.num}" required> 
        <select name="unit" class="select">
          <option th:selected="${exer.unit} == 분">분</option>
          <option th:selected="${exer.unit} == 개">개</option>
        </select> 
        <input type='image' src='/img/minus.png' class='e_minus_btn' onclick='remove(this)'></p>
        </th:block>
        <input type="hidden" name="date" th:value="${date}">
        <input type="hidden" name="time" th:value="${time}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      </div>
      	<input type="submit" value="수정" class="form_btn">
      	<button type="button" class="form_btn" onclick="history.back()">취소</button>
    </form>
  </div>
</div>
</div>
<th:block layout:fragment="script">
	<script th:inline="javascript">
	const add_textbox = () => {
		  const box = document.getElementById("box");
		  const newP = document.createElement('p');
		  newP.innerHTML = "<input type='text' name=exercise id='text' required> <input type='text' name=num id='num' pattern='^[0-9]*' required> \
		  <select name='unit' class='select'> <option>분</option> <option>개</option> </select> <input type='image' src='/img/minus.png' class='e_minus_btn' onclick='remove(this)'>";
		  box.appendChild(newP);
		}
		        
		const remove = (obj) => {
		  document.getElementById('box').removeChild(obj.parentNode);
		}
	
    </script>
</th:block>
</body>

</html>